<% if(success && success.length) {%> <!-- If have success and not empty, apply this styling. -->
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> <!-- to close the flash-message -->
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<%}%>

<% if(error && error.length) {%> <!-- If have error, apply this styling. -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> <!-- to close the flash-message -->
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<%}%>
