<% layout('layouts/boilerplate')%> <!-- All content will be passed to the boilerplate template as body. -->
    <h1>All campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add Campground</a>
    </div>
    <ul>
        <% for (let campground of campgrounds) {%>
        <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a> </li> <!-- Go to /id when clicking on a campground -->
        <% }%>
    </ul>


