<% layout('layouts/boilerplate')%> <!-- All content will be passed to the boilerplate template as body. -->
    <form action="/campgrounds" method="POST"> <!-- Send via POST-req to our server. -->
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]"> <!-- Group title under "campground". -->

        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]">
        </div>
        <button>Add Campground</button>
    </form>
    <a href="/campgrounds">All Campgrounds</a>


